#profileMenu {
    width: 300px;
    min-height: 80%;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 16px 16px 32px rgb(109 132 142 / 15%);
    border-radius: 0.25rem;
    display: block;
    float: left;
    ul {
        list-style-type: none;
        padding: 10px;
        margin: 0;
        width: 100%;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: #999999;
            border-radius: 25px;
        }
        li {
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            svg {
                width: 40px;
                height: 40px;
                padding: 7px;
                margin-right: 10px;
            }
        }
        li.title {
            text-align: right;
            border-top: 1px solid lightgrey;
            &:hover {
                background-color: #9e8aff63;
                cursor: pointer;
            }
            h4 {
                display: block;
                float: right;
                margin: 0;
                line-height: 40px;
                font-size: 16px;
            }
            svg {
                padding: 5px;
                display: block;
                float: right;
            }
        }
        li.header {
            text-align: center;
            border-bottom: 1px solid lightgrey;
            height: 20px;
            line-height: 20px;
            font-size: 10px;
            color: grey;
        }
        li.body {   
            margin-top: 4px;
            margin-bottom: 4px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 0.25rem;
            &:hover {
                background-color: #9e8aff63;
                cursor: pointer;
            }
        }
    }
}