#modalUser {
  .header {
    width: 100%;
    height: 100px;
    /* background-color: #5757a9; */
    background: rgb(87, 87, 169);
    background: linear-gradient(
      90deg,
      rgba(87, 87, 169, 1) 47%,
      rgba(154, 87, 169, 1) 100%
    );
    position: relative;

    .wave {
      position: absolute;
      top: 45px;
    }
  }
}
