#modalUser {
  .header {
    width: 100%;
    height: 100px;
    /* background-color: #5757a9; */
    background: linear-gradient(
      90deg,
      rgba(87, 87, 169, 1) 47%,
      rgba(154, 87, 169, 1) 100%
    );
    position: relative;

    .wave {
      position: absolute;
      top: 45px;
    }

    .edit-header {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 10px;
      right: 10px;
      border-radius: 25%;
      backdrop-filter: brightness(0.8);
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      svg {
        color: white;
      }

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0 !important;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
