#profileHeader {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    .profileIcon {
        width: 40px;
        height: 40px;
        border-bottom: 1px solid lightgrey;
        &:hover {
            background-color: #C8C8C8;
            cursor: pointer;
        }
        svg {
            width: 40px;
            height: 40px;
            padding: 10px;
            color: white;
        }
    }
    .profileTitle {
        width: calc(100% - 40px);
        h4 {
            font-size: 16px;
            margin-left: 4px;
            line-height: 40px;
            color: white;
        }
    }
}