#helpUs {
    background: linear-gradient(180deg, rgb(48 40 90) 50%, #f9f3e9 50%);
    width: 100%;
    height: 100%;
    min-height: 100%;
    .helpUsMenu {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        box-shadow: 0 4px 8px rgb(109 132 142 / 15%);
        border-radius: 0.25rem;
        @media (min-width: 900px) {
            display: block;
            float: left;
            height: 156px;
        }
        @media (min-width: 900px) and (max-width : 1280px) {
            width: 42.5%;
            margin-left: 5%;
        }
        @media (min-width: 1280px) {
            width: 26.67%;
            margin-left: 5%;
        }
        .helpUsMenu-header {
            width: 100%;
            height: 40px;
            text-align: left;
            background-color: #5757a9;
            color: white;
            h1 {
                height: 40px;
                line-height: 40px;
                font-size: 20px;
                margin: 0;
            }
        }
        .helpUsMenu-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
                ul {
                    list-style-type: none;
                    padding: 10px;
                    margin: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    overflow-x: hidden;
                    &::-webkit-scrollbar {
                        width: 6px;
                    }
                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #999999;
                        border-radius: 25px;
                    }
                    li {
                        width: 270px;
                        height: 40px;
                        margin-top: 4px;
                        margin-bottom: 4px;
                        margin-left: calc(50% - 135px);
                        line-height: 40px;
                        overflow: hidden;
                        border-radius: 0.25rem;
                        text-align: left;
                        &:hover {
                            background-color: #9e8aff63;
                            cursor: pointer;
                        }
                        svg {
                            width: 40px;
                            height: 40px;
                            padding: 7px;
                            margin-right: 10px;
                        }
                    }
                }
        }
    }
    
    
    

}
