#modalUser {
  .content {
    margin-top: 30px;
    width: 100%;
    height: calc(100% - 35px);

    .content-username {
      text-align: center;
      font-size: 20px;
    }

    .content-description {
      background: none;
      margin-top: 0;
      text-align: center;
      display: flex;
      justify-content: center !important;
      font-style: italic;
      background-color: white !important;
      height: auto !important;
      margin-top: 0px !important;
      font-size: 12px !important;
    }

    .content-section {
      width: calc(100% - 20px);
      height: 30px;
      margin-top: 10px;
      margin-left: 10px;
      border-radius: 0.25rem;
      display: flex;
      float: left;
      justify-content: space-between;
      font-size: 13px;
      align-items: center;
      background-color: #f9f9f9;
      padding: 5px;

      strong {
        font-size: 12px;
      }
    }

    .content-friends,
    .content-badges {
      width: calc(50% - 15px);
    }

    .content-volume,
    .content-description {
      .next {
        svg {
          margin-left: 4px;
        }

        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}
