#modalUser {
  .content {
    margin-top: 30px;
    width: 100%;
    height: calc(100% - 35px);

    .content-username {
      text-align: center;
      font-size: 20px;
      /* position: absolute; */
    }

    .content-actions {
      width: calc(100% - 20px);
      height: 30px;
      margin-left: 10px;
      margin-top: 4px;
    }

    .content-volume {
      width: calc(100% - 20px);
      height: 30px;
      margin-top: 10px;
      margin-left: 10px;
      border-radius: 0.25rem;
    }

    .content-section {
      width: calc(100% - 20px);
      height: 30px;
      margin-top: 10px;
      margin-left: 10px;
      border-radius: 0.25rem;
      display: flex;
      float: left;
      justify-content: space-between;
      font-size: 13px;
      align-items: center;
      background-color: #f6edff;
      padding: 5px;

      strong {
        font-size: 12px;
      }
    }

    .content-friends,
    .content-badges {
      width: calc(50% - 15px);
    }

    .content-description {
      .next {
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}
