#editProfile {
  background: linear-gradient(180deg, rgb(48 40 90) 50%, #f9f3e9 50%);

  .btn {
    border-radius: 0.25rem;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 3px;
    }
  }

  .col-form-label {
    align-items: start;
  }

  .image-profile {
    width: 100px;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 50%;
    margin-right: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .buttons-image {
    .label-file {
      cursor: pointer;
    }

    .label-file:hover {
      color: #25a5c4;
    }

    .input-file {
      display: none;
    }

    .btn {
      width: 170px;
      height: 30px;
    }
  }

  textarea {
    height: 100px;
  }

  .success-list {
    display: block;

    .icon {
      height: 36px;
      width: 36px;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 50%;
      cursor: pointer;
      float: left;

      &:hover {
        opacity: 0.8;
      }

      svg {
        height: 20px;
        width: 20px;
      }
    }

    .favorite {
      background-color: #f5f6f7;
      border: 2px solid #ced4da;
    }
  }

  .bg-list {
    flex-direction: column;

    .bg-examples {
      display: block;
      width: 100%;
      margin-right: 5px;

      .bg-example {
        width: 100px;
        height: 30px;
        float: left;
        margin-left: 2.5px;
        margin-right: 2.5px;
        margin-bottom: 5px;
        border-radius: 0.25rem;
        cursor: pointer;
      }
    }
  }

  .btn-preview {
    width: 240px !important;
    background-color: orange;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      width: 150px;
      height: 30px;
    }
  }
}
