#profileBody {
    min-height: 80%;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 16px 16px 32px rgb(109 132 142 / 15%);
    border-radius: 0.25rem;
    display: block;
    float: left;
    @media (max-width: 900px) {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
   }
    @media (min-width: 900px) {
        width: calc(100% - 360px);
        margin-left: 10px;
        margin-right: 20px;
   }
    h4 {
        text-align: center;
        border-bottom: 1px solid lightgrey;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        color: grey;
    }
}

@media (max-width: 900px) {
   #profileBody {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-right: 20px;
   }
}