#profileBody {
    width: 90%;
    min-height: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 16px 16px 32px rgb(109 132 142 / 15%);
    border-radius: 0.25rem;
}