#modalUser {
  .mainPage {
    width: 100%;
    height: 100%;

    .block-header {
      width: 100%;
      height: 100px;
    }

    .block-body {
      width: 100%;
      height: calc(100% - 100px);
      background-color: white;
      position: absolute;
    }
  }
}
