#feedQuiz {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(109 132 142 / 15%);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    .feedQuiz-header {
        width: 100%;
        height: 40px;
        text-align: left;
        margin-bottom: 10px;
        background-color: #5757a9;
        color: white;
        h1 {
            height: 40px;
            line-height: 40px;
            font-size: 20px;
            margin: 0;
        }
    }
    .feedQuiz-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .feedQuiz-form {
            width: 90%;
            .form-group {
                label,
                .col-sm-9,
                .col-sm-3 {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                }
                .red-border .custom-control-label::after {
                border: 2px solid red;
                border-radius: 0.25rem;
                cursor: pointer;
                }
                button {
                background-color: white;
                border-radius: 0 0.25rem 0.25rem 0;
                padding: 6px;
                color: black;
                border: 1px solid grey;
                }  
            }
        }
    }
}