#breadcrumb {
    width: min(90%, 1200px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgrey;
    h4 {
        font-size: 16px;
        margin-left: 4px;
        line-height: 40px;
        color: white;
    }
}