#profileNav {
    background-color: #DCDCDC;
    width: 300px;
    height: 100%;
    .top-nav {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 2px;
        padding-right: 10px;
        border-bottom: 1px solid lightgrey;
        text-align: right;
        &:hover {
            background-color: lightgrey;
            cursor: pointer;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: calc(100% - 41px);
        display: flex;
        flex-direction: column;
        li {
            height: 31px;
            line-height: 31px;
            padding-left: 10px;
        }
        li.header {
            background-color: lightgrey;
            text-align: center;
            border-bottom: 1px solid black;
        }
        li.body {   
            margin-top: 4px;
            margin-bottom: 4px;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 0.25rem;
            &:hover {
                background-color: lightgrey;
                cursor: pointer;
            }
        }
    }
}