#modalUser {
  .descriptionPage {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: white;

    .previous {
      font-weight: bold;
      color: blue;
      font-size: 10px;
      background-color: inherit;
      padding: 3px;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        color: red;
      }
    }

    strong {
      width: 100%;
      text-align: left;
      display: block;
      font-size: 12px;
      margin-bottom: 3px;
    }

    .bio {
      font-size: 13px;
      padding: 2px;
      height: 306px;
      overflow-y: hidden;
      position: relative;
    }
  }
}
