#modalUser {
  .edit {
    .button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      backdrop-filter: brightness(0.8);
      padding: 6px;
      top: 5px;
      opacity: 0.8;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .button-edit {
      left: 5px;
      border-color: white;
      color: white;
    }

    .button-cancel {
      left: 5px;
      padding: 8px;
      border-color: red;
      color: red;
    }

    .button-save {
      left: 40px;
      border-color: green;
      color: green;
    }
  }
}
