html,
body,
#root,
.app {
  width: 100%;
  min-height: 100%;
  background-color: grey;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  display: flex;
}
.section {
  width: 100%;
  min-height: 100%;
  padding-top: 71px;
  padding-bottom: 71px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
}
.section-screen {
  width: 100%;
  min-height: 100%;
  padding-top: 71px;
  padding-bottom: 71px;
  display: block;
  overflow: auto;
  text-align: center;
  justify-content: center;
}
.section-central {
  width: 900px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 900px), (orientation: portrait) {
    width: 100%;
  }
  @media (min-width: 900px) and (max-width: 1280px) {
    width: 900px;
  }
  @media (min-width: 1280px) {
    width: 1280px;
  }
}
.modal-content {
  border: 0;
}
.modal-backdrop.show {
  opacity: 0.6;
}
.btn {
  font-family: Rubik, sans-serif;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  cursor: pointer;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.btn-purple {
  background-color: rgb(48 40 90) !important;
  color: white !important;
  &:hover {
    background-color: #30285ac4 !important;
    color: white;
  }
}
.btn-pink {
  background-color: #a52eff !important;
  color: white !important;
  &:hover {
    background-color: #bd65ff !important;
    color: white;
  }
}
.btn-white {
  background-color: white !important;
  color: black !important;
  &:hover {
    background: rgb(235, 235, 235) !important;
    color: black;
  }
}
.btn-black {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}
.btn-red {
  background-color: rgba(211, 14, 14, 0.8) !important;
  color: white !important;
  &:hover {
    background-color: rgba(211, 14, 14, 1) !important;
    color: white;
  }
}
.btn-green {
  background-color: rgb(35 207 10 / 80%) !important;
  color: white !important;
  &:hover {
    background: rgb(96 205 121) !important;
    color: white !important;
  }
}
.btn-grey {
  background-color: #858585;
  color: white !important;
  &:hover {
    background: #7e7e7e !important;
    color: white;
  }
}
.btn-transparent {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.center-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.special-section {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgb(109 132 142 / 15%);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  .special-section-title {
    width: 100%;
    height: 40px;
    text-align: left;
    background-color: #5757a9;
    color: white;
    h1 {
      height: 40px;
      line-height: 40px;
      font-size: 20px;
      margin: 0;
    }
  }
  .special-section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .special-section-form {
      width: 90%;
      .form-group {
        label,
        .col-sm-9,
        .col-sm-3 {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: left;
        }
        .red-border .custom-control-label::after {
          border: 2px solid red;
          border-radius: 0.25rem;
          cursor: pointer;
        }
        button {
          background-color: white;
          border-radius: 0 0.25rem 0.25rem 0;
          padding: 6px;
          color: black;
          border: 1px solid grey;
        }
      }

      small {
        color: red;
      }

      .buttons {
        text-align: right;
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }
  }
}
