html, body, #root, .app {
  width: 100%;
  min-height: 100%;
  background-color: #f9f3e9;
  margin: 0;
}
.section {
  width: 100%;
  min-height: 100%;
  padding-top: 71px;
  padding-bottom: 71px;
  display: flex;
  justify-content: center;
}
.section-screen {
  width: 100%;
  min-height: 100%;
  padding-top: 71px;
  padding-bottom: 71px;
  display: block;
  overflow: auto;
  text-align: center;
  justify-content: center;
}
.section-central {
  width: 1280px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.modal-content {
  border: 0;
}
.modal-backdrop.show {
  opacity: 0.6;
}
.btn {
  font-family: Rubik, sans-serif;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
    cursor: pointer;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.btn-purple {
  background-color: rgb(48 40 90) !important;
  color: white !important;
  &:hover {
    background-color: #30285ac4 !important;
    color: white;
  }
}
.btn-pink {
  background-color: #a52eff !important;
  color: white !important;
  &:hover {
    background-color: #bd65ff !important;
    color: white;
  }
}
.btn-white {
  background-color: white !important;
  color: black !important;
  &:hover {
    background: rgb(235, 235, 235) !important;
    color: black;
  }
}
.btn-black {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}
.btn-red {
  background-color: rgba(211, 14, 14, 0.8) !important;
  color: white !important;
  &:hover {
    background-color: rgba(211, 14, 14, 1) !important;
    color: white;
  }
}
.btn-green {
  background-color: rgb(35 207 10 / 80%) !important;
  color: white !important;
  &:hover {
    background: rgb(96 205 121) !important;
    color: white !important;
  }
}
.btn-grey {
  background-color: #858585;
  color: white !important;
  &:hover {
    background: #7e7e7e !important;
    color: white;
  }
}
.btn-transparent {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1280px) {
  .section-central {
    width: 100%;
  }
}
@media screen and (orientation: portrait) {
  .section-central {
    width: 100%;
  }
}
*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
