#colorBg {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;

  h5 {
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-color: #d1d1d1;
    height: 30px;
    line-height: 30px;
  }

  p {
    width: 200px;
    margin: 0;
  }

  .choose-type {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 10px;

    .chosen-part {
      .form-check {
        margin-right: 10px;
      }
    }
  }

  .choose-colors {
    display: flex;
    flex-direction: row;
    margin-left: 10px;

    .choose-color {
      height: 25px;
      margin-right: 5px;
      margin-bottom: 5px;

      .color {
        width: 40px;
        height: 25px;
        cursor: pointer;
        margin-right: 5px;
      }

      .stop {
        width: 54px;
        height: 25px;
        margin-right: 5px;
      }

      .remove {
        width: 15px;
        height: 25px;
        svg {
          cursor: pointer;
          &:hover {
            color: red;
          }
        }

        .disabled {
          color: grey;
          pointer-events: none;
        }
      }
    }

    .add {
      cursor: pointer;
      &:hover {
        color: blue;
      }

      svg {
        width: 20px;
        height: 20px;
        margin: 2.5px;
      }

      span {
        font-size: 10px;
      }
    }
  }

  .preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;

    .preview-block {
      width: 200px;
      height: 40px;
      border-radius: 0.25rem;
    }
  }

  .bg-buttons {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;

    button {
      width: 60px;
      height: 30px;
      margin-right: 10px;
    }
  }
}
