#colorBg {
  width: 130px;
  height: 160px;

  .preview {
    width: calc(100% - 10px);
    height: 40px;
    margin: 5px;
  }

  .sub-block {
    width: calc(100% - 10px);
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    justify-content: space-between;

    .color {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    .stop {
      width: 54px;
      height: 25px;
    }

    .remove {
      width: 15px;
      height: 25px;
      svg {
        cursor: pointer;
        &:hover {
          color: red;
        }
      }

      .disabled {
        color: grey;
        pointer-events: none;
      }
    }
  }

  .add {
    cursor: pointer;
    &:hover {
      color: blue;
    }

    svg {
      width: 20px;
      height: 20px;
      margin: 2.5px;
    }

    span {
      font-size: 10px;
    }
  }

  .bottom-block {
    width: calc(100% - 10px);
    height: 40px;
    margin: 5px;
    justify-content: right;

    .button {
      width: 30px;
      height: 30px;
      border-radius: 0.25rem;
      backdrop-filter: brightness(0.8);
      padding: 6px;
      opacity: 0.8;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    .button-cancel {
      left: 5px;
      padding: 8px;
      border-color: red;
      color: red;
    }

    .button-save {
      margin-left: 10px;
      left: 40px;
      border-color: green;
      color: green;
    }
  }
}
