#bugs {
    background: linear-gradient(180deg, rgb(48 40 90) 50%, #f9f3e9 50%);
    .bugsForm {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        box-shadow: 0 4px 8px rgb(109 132 142 / 15%);
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        .bugsForm-header {
            width: 100%;
            height: 40px;
            text-align: left;
            margin-bottom: 10px;
            background-color: #5757a9;
            color: white;
            h1 {
                height: 40px;
                line-height: 40px;
                font-size: 20px;
                margin: 0;
            }
        }
        .bugsForm-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            form {
            width: 90%;
            .form-group {
                label,
                .col-sm-9,
                .col-sm-3 {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                }
                .red-border .custom-control-label::after {
                border: 2px solid red;
                border-radius: 0.25rem;
                cursor: pointer;
                }
                button {
                background-color: white;
                border-radius: 0 0.25rem 0.25rem 0;
                padding: 6px;
                color: black;
                border: 1px solid grey;
                }
                textarea {
                height: 200px;
                }
                .attachment {
                position: relative;
                width: 60px;
                height: 60px;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    background-color: blue;
                }
                .cross {
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    width: 20px;
                    height: 20px;
                    color: red;
                    cursor: pointer;
                }
                }
                
            }

            small {
                color: red;
            }

            .buttons {
                text-align: right;
                margin-top: 40px;
                margin-bottom: 20px;
            }
            }
        }
    }
}


